.DS_Store
venv
__pycache__
*.pyc
*ipynb*
*cache*
.idea
*.csr
*.srl
*.req
*.log
*.jar
Untitled*
docs/_build
docs/README.md
target
.idea
*.iml
local.make
java/.classpath
java/.project
java/.settings/
.vscode/*
.tox/
.eggs/
*.egg-info/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*
